aiodns==3.6.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp_socks==0.11.0
aiosignal==1.4.0
APScheduler==3.11.2
asgiref==3.11.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==5.0.1
attrdict==2.0.1
attrs==25.4.0
Babel==2.10.3
backcall==0.2.0
baidu-aip==4.16.11
bce-python-sdk==0.8.73
beautifulsoup4==4.14.3
binance==0.3.80
bleak==0.21.1
bleak-winrt==1.2.0
blobfile==2.0.2
cachetools==5.2.0
cchardet==2.1.7
certifi==2026.1.4
cffi==2.0.0
chardet==3.0.4
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
cssselect==1.1.0
cssutils==2.4.2
curl_cffi==0.13.0
cycler==0.11.0
Cython==0.29.30
dataclasses==0.6
dateparser==1.2.2
decorator==5.1.1
dill==0.3.6
Django==4.2.27
django-scheduler==0.10.1
dominate==2.7.0
easydict==1.9
elastic-transport==9.1.0
elasticsearch==9.1.3
et-xmlfile==1.1.0
executing==1.2.0
fake-useragent==2.2.0
filelock==3.12.0
Flask==2.1.2
Flask-Babel==2.0.0
fonttools==4.33.3
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2023.6.0
future==0.18.2
gensim==4.3.1
geographiclib==2.1
geopy==2.4.1
googletransx==2.4.2
hmmlearn==0.3.3
huggingface-hub==0.16.4
icalendar==6.3.2
idna==3.3
imageio==2.19.3
imgaug==0.4.0
importlib-metadata==4.12.0
importlib_resources==6.5.2
ipdb==0.13.13
ipython==8.13.2
itsdangerous==2.1.2
jedi==0.18.2
jellyfish==1.0.0
jieba==0.42.1
Jinja2==3.1.2
jittor==1.3.8.5
joblib==1.2.0
kiwisolver==1.4.2
LAC==2.1.2
langdetect==1.0.9
llvmlite==0.43.0
lmdb==1.3.0
ltp==4.2.13
ltp-core==0.1.4
ltp-extension==0.1.11
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mindspore @ https://ms-release.obs.cn-north-4.myhuaweicloud.com/1.7.0/MindSpore/cpu/x86_64/mindspore-1.7.0-cp39-cp39-win_amd64.whl
multidict==6.7.0
multitasking==0.0.12
nest-asyncio==1.6.0
networkx==2.8.4
nltk==3.9.2
numba==0.60.0
numpy==1.22.4
oauthlib==3.3.1
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
paddle-bfloat==0.1.7
paddleocr==2.5.0.3
paddlepaddle==2.3.1
paddlepaddle-gpu==2.3.1.post116
pandas==1.4.3
parso==0.8.3
peewee==3.19.0
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==4.4.0
premailer==3.10.0
prompt-toolkit==3.0.38
propcache==0.4.1
protobuf==3.20.0
psutil==5.9.1
pure-eval==0.2.2
pycares==4.11.0
pyclipper==1.3.0.post3
pycparser==2.23
pycryptodome==3.15.0
pycryptodomex==3.18.0
Pygments==2.15.1
PyMySQL==1.1.0
pyparsing==3.0.9
PySocks==1.7.1
python-binance==1.0.32
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-socks==2.8.0
pytz==2025.2
PyWavelets==1.3.0
pywin32==306
PyYAML==6.0.1
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
safetensors==0.3.1
schedule==1.2.2
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.8.1
seaborn==0.12.2
Shapely==1.8.2
six==1.16.0
sklearn==0.0.post1
smart-open==6.3.0
snscrape==0.7.0.20230622
soupsieve==2.8.1
sqlparse==0.5.5
stack-data==0.6.2
textblob==0.19.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tokenizers==0.13.3
tomli==2.0.1
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchvision==0.13.0+cu116
tqdm==4.64.0
traitlets==5.9.0
transformers==4.31.0
tweepy==4.16.0
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typing_extensions==4.11.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==1.26.9
vaderSentiment==3.3.2
visualdl==2.3.0
wcwidth==0.2.6
websockets==15.0.1
Werkzeug==2.1.2
yarl==1.22.0
yfinance==1.0
zipp==3.8.0
